<!DOCTYPE html>
{% extends 'beerapp/base.html' %}
{% load staticfiles %}
{% block body_block %}

<img src="{% static 'images/7.jpg'%}" height="250px" width="45%" class="img-circle" alt="Cinque Terre">
<img src="{% static 'images/6.jpg'%}" height="250px" width="45%"class="img-rounded" alt="Cinque Terre">
<img src="{% static 'images/8.png'%}" height="250px" width="45%"class="img-rounded" alt="Cinque Terre">
<img src="{% static 'images/5.jpg'%}" height="250px" width="45%" class="img-circle" alt="Cinque Terre">


{% endblock %}
